---

name: Example ${example_name} Infra Live Test Workflow

on:
  push:
    branches:
      - main

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read  # This is required for actions/checkout
    steps:
      - uses: actions/checkout@v4
      - name: 'Login via Azure CLI'
        uses: azure/login@v1
        with:
          client-id: ${client_id}
          tenant-id: ${tenant_id}
          subscription-id: ${subscription_id}
